<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dash</title>
</head>
<body>
   <div>
    <form action="/remove" method="get">
        <span> remove Url by id </span>
        <input title="Id" type="text" name="id" required> 
        <button type="submit"> Save </button>
    </form>
   </div>
   <form action="/add" method="get">
    <span> add Url </span>
    <input title="url" type="text" name="url" required> 
    <button type="submit"> Save </button>

</form>

    <button id="full"> List All </button>
    <script>
        document.getElementById('full').addEventListener('click', function() {
            window.open('/list')
        })
    </script>
</div>
</body>
</html>